# Python
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Data
data/db.sqlite
data/*.db
data/*.sqlite
data/*.parquet
data/*.csv
!data/.gitkeep
!data/README.md

.env
.env.*
.openai*
*OPENAI_API_KEY*
